{% extends 'base.html' %}
{% block content %}
<section class="single_article">
	<article>
		{% if current_user.is_authenticated %}
		{% if current_user.role == 'author' %}
		<button class='btn' id='remove_article' data='{{article.id}}'> remove article </button>
		{% endif %}
		{% endif %}
		<div class="image">
			<img src="{{ url_for('static', filename='img/'+article.image) }}" alt="{{ article.title }}">
		</div>
		<h3>
			{{ article.title }}
		</h3>
		<p> {{ article.content }}</p>
		<span><i>created by: {{ article.user.username }}</i></span>
	</article>
</section>
{% endblock content %}
