<footer>
	<div>
		<span class="img">
			<img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="logo">
		</span>
		<h3>Services</h3>
	</div>
	<div>
		<p>
			Health check is a site that provides, all you need for a better health. check all services that we provide
			and feel free to contact us whenever needed
		</p>
		<ul>
			<li><a href="{{ url_for('medicine_views.searchbar') }}">search drugs</a></li>
			<li><a href="">check symptoms</a></li>
			<li><a href="">check latest Medical news</a></li>
			<li><a href="">contact us</a></li>
		</ul>	
	</div>
	<div>
		<ul class="social_icons">
			<i class="bi bi-facebook"></i>
			<i class="bi bi-twitter"></i>
			<i class="bi bi-instagram"></i>
			<i class="bi bi-tiktok"></i>
		</ul>
	</div>
</footer>
