<nav>
	<div class='container'>
		<div class="menu">
			<div>
				<img src="../static/img/logo2.jpg" alt="logo">
			</div>
			<ul>
				<li><a href="{{ url_for('home') }}">home</a></li>
				<li><a href="#">about</a></li>
				{% if current_user.is_authenticated %}
				<li id='my_drugs'>my drugs
				<div class="list_drugs"></div></li>
				 {% endif %}
			</ul>
		</div>				
		<div>
			<ul>
				{% if current_user.is_authenticated %}
				<li>{{ current_user.username }}</li>
				<li><a href="{{ url_for('user_views.logout')}}"  class='link-secondary'>logout</a></li>
				 {% else %}
				 <li> <a href="{{ url_for('user_views.login')}}" class='link-secondary'>login</a></li>
				 <li><a href="{{ url_for('user_views.register')}}" class='link-secondary'>register</a></li>
				 {% endif %}
			</ul>
			<form class="search" method="POST" action="{{ url_for('medicine_views.display_med') }}">
			{{ searchform.csrf_token(id = "unique_id") }}
			{{ searchform.search(class="btn") }}
			{% if searchform.name.errors %}
			{{ searchform.name(class="form-control is-invalid") }}
			<div class="invalid-feedback">
				{% for error in searchform.email.errors %}
				<span> {{ error }} </span>
				{% endfor %}
			</div>
			{% else %}
			{{ searchform.name(class="form-control", placeholder="search") }}
			{% endif %}
			</form>					
		</div>
	</div>
</nav>
<script>
// check if the authenticated user has a list of drugs
{% if current_user.is_authenticated %}
$(document).ready(function(){
  $.get("{{url_for('user_views.saved_drugs')}}", function (data, satus){
	  if (data.length > 0) {
		  $('#my_drugs').css({'display': 'block'});
	  }
  });
});
{% endif %}
// get list of drugs when hovered over the clicked button
let response;
$('#my_drugs').on("mouseover", function() {
  if (response) {
    $('.list_drugs').css({"display": "block"});
    return
  }
  $.get("{{url_for('user_views.saved_drugs')}}", function (data, textSatus){
    response = data
    for (let i = 0; i < data.length; i++) {
      $('.list_drugs').append(`<li>${data[i]}</li>`)
    }
  });
});
// hide list of drugs when not hovered over the button
$('#my_drugs').mouseout(function() {
	$('.list_drugs').css({"display": "none"});
});
// request data of clicked drug from the list
// and redirect to another page with the data
$('.list_drugs').on('click', 'li', function() {
  const search_data = $(this).text();
	fetch("{{ url_for('medicine_views.get_details') }}", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify({name: search_data})
	}).then(r => r.text()).then(data => {
	  if (data == 'success') {
		  window.location.replace("{{ url_for('medicine_views.show_data') }}");
	  }
	})
  });

</script>
