<nav>
	<div class='list_menu_tabs'>
		<ul>
			<li><a href="{{ url_for('home') }}">home</a></li>
			{% if current_user.is_authenticated %}
			{% if current_user.role == 'author' %}
			<li><a href="{{ url_for('article_views.display_articleForm') }}">add article</a></li>
			{% endif %}
			{% endif %}
			<div class='show_smallScreen'>
				{% if current_user.is_authenticated %}
				<li>{{ current_user.username }}</li>
				<li><a href="{{ url_for('user_views.logout')}}">logout</a></li>
				{% else %}
				<li> <a href="{{ url_for('user_views.login')}}">login</a></li>
				<li><a href="{{ url_for('user_views.register')}}">register</a></li>
				{% endif %}
				<li> <a href="{{ url_for('medicine_views.searchbar')}}">search drug</a></li>
			</div>
			{% if current_user.is_authenticated %}
			<li id='my_drugs_tabs'>my drugs
			<div class="list_drugs"></div></li>
			{% endif %}
		</ul>	
	</div>
	<div class='container'>
		<div class="menu">
			<div>
				<a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="logo"></a>
			</div>
			<ul>
				<li><a href="{{ url_for('home') }}">home</a></li>
				{% if current_user.is_authenticated %}
				{% if current_user.role == 'author' %}
				<li><a href="{{ url_for('article_views.display_articleForm') }}">add article</a></li>
				{% endif %}
				{% endif %}
				{% if current_user.is_authenticated %}
				<li id='my_drugs'>my drugs
				<div class="list_drugs"></div></li>
				 {% endif %}
			</ul>
		</div>				
		<div>
			<ul>
				{% if current_user.is_authenticated %}
				<li>{{ current_user.username }}</li>
				<li><a href="{{ url_for('user_views.logout')}}"  class='link-secondary'>logout</a></li>
				 {% else %}
				 <li> <a href="{{ url_for('user_views.login')}}" class='link-secondary'>login</a></li>
				 <li><a href="{{ url_for('user_views.register')}}" class='link-secondary'>register</a></li>
				 {% endif %}
				<img src="{{ url_for('static', filename='img/list.svg') }}" class='list_icon hidden_list' alt='list icon'>
			</ul>
			<form class="search hide_search" method="POST" action="{{ url_for('medicine_views.display_med') }}">
			{% if searchform.csrf_token %}
			{{ searchform.csrf_token(id = "unique_id") }}
			{% endif %}
			{{ searchform.search(class="btn searchme_drug") }}
			{% if searchform.name.errors %}
			{{ searchform.name(class="form-control is-invalid") }}
			<div class="invalid-feedback">
				{% for error in searchform.email.errors %}
				<span> {{ error }} </span>
				{% endfor %}
			</div>
			{% else %}
			{{ searchform.name(class="form-control", placeholder="search drug") }}
			{% endif %}
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			{% if category == 'med_error' %}
			<p class='flashed_search alert alert-danger'>
				{{ message }}
			</p>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}
			<img src="{{ url_for('static', filename='img/drLoad.jpg') }}" class='load_img' alt='load image'>
			</form>					
		</div>
	</div>
</nav>
<script>
// check if the authenticated user has a list of drugs
// if yes show my_drugs tab
{% if current_user.is_authenticated %}
$(document).ready(function(){
  $.get("{{url_for('user_views.saved_drugs')}}", function (data, satus){
	  if (data.length > 0) {
		  $('#my_drugs').css({'display': 'block'});
		  $('#my_drugs_tabs').css({'display': 'block'});
	  }
  });
});
{% endif %}
</script>
