{% extends 'base.html' %}
{% block content%}
<main>
  	<section class="heading">
	<div class="div_img">
		
	</div>
	<div class="data_info">
		All about Medicine Today
	</div>
	</section>
	
	<section class="services">
			<div class="service_titles">
				<h3>Search for your medicine</h3>
				<div>
					<p>
						We provide a service to provide information about Medice you can check details 
						about searched drugs, including description, precautions and how it is applied
						<a href="{{ url_for('medicine_views.searchbar') }}">search</a>
					</p>

				</div>
			</div>
			<div class="service_titles">
				<h3>Check latest Article</h3>
				<div>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', .</p>
				</div>
			</div>
			<div class="service_titles">
				<h3>Dummy Data</h3>
				<div>
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					</p>
				</div>	
			</div>
	</section>
</main>
{% endblock content %}
