{% extends 'base.html' %}
{% block content%}
<div class="container login-container">
	<div class="row">
		<div class="col-md-6">
			<img src="{{ url_for('static', filename='img/login.jpg') }}" alt="login-image" class='img-fluid'>
		</div>
    	<form method='POST' class="col-md-6 col-12">
    		{{ form.hidden_tag() }}
    		<div class="form-group">
    			{{ form.email.label(class="form-control.label") }}
    			{% if form.email.errors %}
    			{{ form.email(class="form-control is-invalid") }}
    			<div class="invalid-feedback">
    				{% for error in form.email.errors %}
    				<span> {{ error }} </span>
    				{% endfor %}
    			</div>
    			{% else %}
    			{{ form.email(class="form-control") }}
    			{% endif %}
    		</div>
    		<div class="form-group">
    			{{ form.password.label(class="form-control.label") }}
    			{% if form.password.errors %}
    			{{ form.passwrod(class="form-control is-invalid") }}
    			<div class="invalid-feedback">
    				{% for error in form.password.errors %}
    				<span> {{ error }} </span>
    				{% endfor %}
    			</div>
    			{% else %}
    			{{ form.password(class="form-control") }}
    			{% endif %}
    		</div>
    		{{ form.submit(class="btn btn-primary") }}
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			{% if category == 'login' %}
			<p class="alert alert-danger"> {{message}}</p>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}
    	</form>
	</div>
</div>
	<script>
		
	</script>
{% endblock content %}
