{% extends 'base.html' %}
{% block content%}
{% if data.status == 404 %}
<span>no results look for another med</span>
{% else %}
<main id='drugs'>
{% if data.name %}
<input type="hidden" name="drug_name" id="drug_name" value={{ data.name}}>
{% endif %}
{% if current_user.is_authenticated %}
<button class='btn save_drug'>save drug</button>
{% endif %}
<section class='drugs'>
{% for item in data.data.results %}
	{% if item.description %}
	<article class='med-article'>
		<h4>description</h4>
		<p class='med-p'>{{ item.description[0] }}</p>
		<span class='readmore'>read more</span>
	</article>
	{% endif %}
	{% if item.how_supplied %}
    <article class='med-article'>
		<h4>Instructions</h4>
		<p class='med-p'>{{ item.how_supplied[0] }}</p>
		<span class='readmore'>read more</span>
    </article>
	{% endif %}
	{% if item.dosage_and_administration %}
    <article class='med-article'>
		<h4>Dosage</h4>
		<p class='med-p'>{{ item.dosage_and_administration[0] }}</p>
		<span class='readmore'>read more</span>
    </article>
	{% endif %}
	{% if item.overdoesage %}
    <article class='med-article'>
		<h4>Precaution</h4>
		<p class='med-p'>{{ item.overdosage[0] }}</p>
		<span class='readmore'>read more</span>
    </article>
	{% endif %}
	{% if item.pregnancy %}
    <article class='med-article'>
		<h4>Pregnancy</h4>
		<p class='med-p'>{{ item.pregnancy[0] }}</p>
		<span class='readmore'>read more</span>
	</article>
	{% endif %}
{% endfor %}
{% endif %}
<img src="{{ url_for('static', filename='img/close_icon.png') }}" class="hidden_button" id="close">
<article class="hidden med-article-hidden"></article>
</section>
</main>
<script>
// send a request on click to save a drug name on db
// based on name of drug clicked on, if success received
// alert is sent
$('.save_drug').click(function() {
    const name = $('#drug_name').val()
	fetch("{{ url_for('medicine_views.save_drug') }}", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
	  },
	  body: JSON.stringify(name)}).then(res => res.text()).then(data => {
			if (data == "success") {
				alert('successfully added the drug to list of faviourite')
			}
	  });
});
</script>
{% endblock content %}
