{% extends 'base.html' %}
{% block content %}
<section class="symptoms">
		<img src='../static/img/close_icon.png' class="hidden_button" id="close_diagnosis">
		<div class="diagnosis">
				<h3> Diangosis </h3>
				<ul id='diagnosis_content'></ul>
				<h3> Related Specialisation </h3>
				<ul id='specialisation'> </ul>
		</div>
			<div class="form-symptoms">
				<h3>suffer from of any symptoms</h3>
				<form method="POST" action="google.com">
				  <div class="form-group">
				    <label for="gender">Gender</label>
					<select class="form-control" id="gender" required>
						<option>male</option>
						<option>female</option>
					</select>
				  </div>
				  <span id='gender_warning' class='alert alert-danger'> please select the gender </span>
				  <div class="form-group">
				    <label for="age">Date of birth</label>
				    <input type="date" class="form-control" id="age" placeholder="date of birth" required>
				  </div>
					<span id='birth_warning' class='alert alert-danger'>please select your date of birth</span>
				    <div class="form-group">
					    <label for="select_options">please select your symptoms</label>
					    <select multiple class="form-control" id="select_options" required>
						{% if symptoms %}
						{% for symptom in symptoms %}
						<option idvalue="{{symptom.ID}}" id="option">{{symptom.Name}}</option>
						{% endfor %}
						{% endif %}
					    </select>
					  </div>
					<span id='symptom_warning' class='alert alert-danger'>please select the symptoms</span>
					<span class='alert alert-danger no_diagnosis'>no diagnosis found for these symptoms, please check another ones</span>
				  <button type="submit" class="btn symp-btn">Submit</button>
				</form>
			</div>
			<div class="img">
				<img src='../static/img/diagnosis.jpg' alt='diagnosis'>
			</div>
	</section>
	<script>
$('.form-symptoms button').click(function(e){
  e.preventDefault();
  // get data from form
  const date_birth = $('#age').val();
  if (date_birth == "") {
    $('#birth_warning').css({'display': 'block'});
    return;
  } else {
    $('#birth_warning').css({'display': 'none'});
  }
  const date = new Date(date_birth)
  const year = date.getFullYear()
  const gender = $('#gender').val()
  const symptoms = []
  $('#select_options option:selected').each(function(){
  symptoms.push($(this).attr('idvalue'))
  });
  if (symptoms.length == 0) {
    $('#symptom_warning').css({'display': 'block'});
    return;
  } else {
    $('#symptom_warning').css({'display': 'none'});
  }
  data = {
    year: year,
    gender: gender,
    symptoms: symptoms
  }
  // request diagnosis - api to back end
  fetch("{{ url_for('medicine_views.request_diagnosis') }}", {
    method: "POST",
    headers: {
    "Content-Type": "application/json",
    },
    body: JSON.stringify(data)
  }).then(r => r.text()).then(data => {
    data = JSON.parse(data);
    if (data.length > 0) {
      $('.diagnosis').css({'display': 'block'});
      $('#close_diagnosis').css({'display': 'block'});
      $('.form-symptoms').css({'display': 'none'});
      $('.img').css({'display': 'none'});
      // empty populated div incase it was full befor request
      $('#diagnosis_content').empty()
      $('#specialisation').empty()
      const list_diagnosis = []
      for (let i = 0; i < data.length; i++) {
        $('#diagnosis_content').append(`<li>${data[i]['Issue'].ProfName} </li>`);
        for (let y = 0; y < data[i]['Specialisation'].length; y++) {
			if (list_diagnosis.indexOf(data[i]['Specialisation'][y].Name) >= 0 ){
				continue;
		    } else {
              list_diagnosis.push(data[i]['Specialisation'][y].Name)
              $('#specialisation').append(`<li>${data[i]['Specialisation'][y].Name} </li>`);
			}
        }
      }
    } else {
      // if no diangosis for symtom
      $('.no_diagnosis').css({'display': 'block'});
    }
  })
  $('.form-symptoms form')[0].reset();
})
// click event to close opened tab for diagnosis
$('#close_diagnosis').click(function() {
  $('.diagnosis').css({'display': 'none'});
  $('#close_diagnosis').css({'display': 'none'});
  $('.form-symptoms').css({'display': 'block'});
  $('.img').css({'display': 'block'});
});
</script>
{% endblock %}

