body {
	background-color: #e6f5fa;
	font-family: emoji;
}
button {
	background-color: #11b2ac;
	color: white;
}
/* navbar header template */
nav {
	background-image: url('../img/2.png');
	background-repeat: no-repeat;
}
nav img {
	height: 120px;
}
nav .container {
	display: flex;
	justify-content: space-between;
}
nav .container div:nth-child(2) {
	width: 30%;
}
.menu div:nth-child(1) {
}
nav .container form.search {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.flashed_search {
	position: absolute;
	top: 42px;
	z-index: 10;
}
nav .container .menu {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
nav .container .menu ul{
	margin: 0;
	position: absolute;
    bottom: -8px;
	left: 175px;
}
nav .container .menu ul li {
	background-color: #10b2ac;
    min-width: 78px;
    height: 30px;
    border-radius: 4px;
    margin-right: 5px;
    text-align: center;
}
 nav .container .menu ul li:hover {
	background-color: #22a19f;
 }
.menu ul li:nth-child(3) {
	position: relative;
}
#my_drugs {
	display: none;
}
#my_drugs_tabs {
	display: none;
}
.list_drugs {
	position: absolute;
	top: 31px;
	z-index: 10;
}
nav .container .menu a {
	color: white;
	text-decoration: none;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav ul li {
	margin-right: 10px;
	list-style-type: none;
}
.search input.btn {
	background-color: #10b2ac;
    color: white;
    margin-right: 10px;
}
.load_img {
	display: none;
	height: 70px;
	position: absolute;
	top: 50px;
	left: 50%;
	z-index: 10;
	border-radius: 50px;
	animation: rotateme 3s infinite;
}
.load_img_symptoms {
	display: none;
	height: 70px;
	border-radius: 50px;
	animation: rotateme 3s infinite;
}
.hidden_list {
	display: none;
	height: 20px;
	cursor: pointer;
	margin: 0;
}
.list_menu_tabs {
	display: none;
	position: absolute;
	right: 0;
	top: 92px;
	z-index: 11;
	border-radius: 5px;
	background-color: #11b2ac;
	display: none;
}
.list_menu_tabs ul {
	flex-direction: column;
}
.list_menu_tabs li a {
	color: white;
	text-decoration: none;
}
.list_menu_tabs #my_drugs {
	position: relative;
}
.list_menu_tabs .list_drugs {
	position: absolute;
	z-index: 10;
	right: 111px;
	top: 0;
	text-align: center;
	border-radius: 5px;
	width: 78px;
	padding: 6px;
	color: white;
	background-color: #11b2ac;
	display: none;
}
.list_menu_tabs li {
	cursor: pointer;
}
#my_drugs_tabs {
	color: white;
	cursor: pointer;
}
@keyframes rotateme {
	50% {transform: rotateY(180deg);}
}

@media only screen and (max-width: 600px) {
	nav ul {
	}
	nav .container .menu ul {
		display: none;
	}
	nav .container div:nth-child(2) {
		width: 100%;
	}
	nav img {
		height: 88px;
		margin-right: 10px;
	}
	.hidden_list {
		display: inline-block;
	}
}

/* index template */
.heading {
	position: relative;

}
section.heading .div_img {
	background-image: url('../img/doctor.jpg');
	background-repeat: no-repeat;
	margin: 9px;
	filter: blur(2px);
	min-height: 500px;
	background-size: cover;
}
.heading .data_info {
	position: absolute;
	font-size: 2em;
    position: absolute;
    top: 60%;
    left: 39%;
    font-family: emoji;
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service_titles {
	background-color: #11b2ac;
    color: white;
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    margin-bottom: 20px;
    margin-right: 5px;
}
@media only screen and (max-width: 600px) {
	.service_titles {
		margin-right: 0;
	}
}
/* footer css */

footer {
	background-color: #11b2ac;
	width: 100%;
	color: white;
	margin-top: auto;
	padding:15px 0px 0px 30px;
		}
footer div{
	display: flex;
	width: 100%;
}
footer div > * {
	margin-right: 20px;
}
footer ul, footer p , footer h3, footer .img{
	width: 200px;
	margin-bottom: 20px;
}
footer ul{
	padding: 0;
}
footer img {
	height: 55px;
	width: 55px;
}
footer li {
	list-style-type: none;
}
footer a {
	color: white;
	text-decoration: none;
}
footer a:hover {
	color: black;
}
/* form css */
.login-container {
	margin-top: 52px;
	min-height: 505px;
}
.login-container #submit{
	background-color: #11b2ac;
	color: white;
	margin: 5px 9px 10px 0;
}
/* 404 not found */
.page404 {
	min-height: 34vw;
}
.page404 div {
	font-size: 2em;
	font-family: emoji;
	margin: 31px 0px 0px 35px;
}
.show_smallScreen {
	display: none;
}
@media only screen and (max-width: 300px) {
	nav .container form.hide_search {
		display: none;
	}
	.show_smallScreen {
		display: block;
	}
	nav .container div li{
		display: none;
	}
}
/* about css section */
section.about {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 40px;
}
.about img, .service img {
	width: 240px;
	height: 390px;
	border-radius: 5px;
	filter: drop-shadow(2px 4px 6px black);
}
.about img:nth-child(2) {
	margin-top: 20px;
	margin-left: 20px;
}
.about .heading_about {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section.separator {
	background-image: url('../img/separator.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 250px;
}
section.service {
	margin-top: 40px;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
section.service:nth-child(even) {
	background-color: #def0f5;
}
section.service .row {
	align-items: center;
}
section.service .img {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
@media only screen and (max-width: 820px) {
	.about div {
		width: 100%;
	}
	.service div {
		width: 100%;
	}
	.about img:nth-child(2) {
		display: none;
	}
	.about .captures {
		text-align: center;
	}
	.about .captures img {
		margin-top: 15px;
	}
	section.service div.text {
		text-align: center;
	}
	section.about {
		margin: 55px 0px 55px 0px;
	}
	.about_section {
		text-align: center;
	}

}
.about_section {
	background-image: url('../img/about_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 40px;
}
.about_section div:nth-child(1) {
	margin-top: 10px;
}
.about_section div {
	width: 450px;
}
.about_section img {
	height: 160px;
}
.about_section h2 {
	font-size: 1.5em;
}
