#drugs {
	display: flex;
	flex-direction: column;
}
.drugs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	margin-bottom: 30px;
}
#my_drugs {
	color: white;
	cursor: pointer;
}
.med-p {
	overflow-y: hidden;
	height: 239px;
}
article.med-article {
    border: 3px solid #11b2ac;
    border-radius: 5px;
    margin: 25px 15px 0px 0px;
	width: 400px;
    padding: 15px;
}
article.med-article-hidden {
    border: 3px solid #11b2ac;
    border-radius: 5px;
    margin: 25px 15px 0px 0px;
	width: 50%;
    padding: 15px;
}
.readmore {
	cursor: pointer;
}
.readmore:hover {
	text-decoration: underline;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.hidden_button {
	display: none
}
#close {
	position: absolute;
	top: 1%;
	right: 18%;
    height: 20px;
	cursor: pointer;
}
#close_diagnosis {
	position: absolute;
	top: -2%;
    right: 33%;
    height: 20px;
	cursor: pointer;
}
button.save_drug {
	background-color: #11b2ac;
	color: white;
	align-self: center;
	width: 103px;
    margin-top: 18px;
}
/* apimedic.com */
.symptoms {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 45px;
	margin-bottom: 150px;
	min-height: 340px;
	position: relative;
}
.form-symptoms {
	width: 500px;
	margin-bottom: 10px;
}
.form-symptoms input{
	margin-bottom: 10px;
}
.symptoms .img {
	width: 560px;
}
.symptoms .img img {
	filter: drop-shadow(2px 4px 6px black);
	width: 100%;
}

.symptoms h3 {
	margin: 1px 0 6px 0;
}
.symptoms ul, h3 {
	margin-left: 10px;
	padding: 0;
}
.symptoms h3 {
	font-size: 20px;
}
.symptoms li {
	list-style-type: none;
	margin-bottom: 10px;
	 font-size: 18px;
	font-family: emoji;
	cursor: pointer;
}
.symp-btn {
	background-color: #10b2ac;
	color: white;
}
.diagnosis {
	display: none;
	width: 30%;
	border: 3px solid #11b2ac;
	border-radius: 5px;
	padding: 15px;
}
.form-symptoms select {
	margin-bottom: 10px;
}
.form-symptoms span{
	display: none;
}
.show_span {
	display: block;
}
.no_diagnosis {
	display: none;
}
@media only screen and (max-width: 600px) {
	.symptoms .img {
		width: 310px;
	}
	.form-symptoms {
		width: 310px;
	}
}
@media only screen and (max-width: 300px) {
	.symptoms .img {
		width: 250px;
	}
	.form-symptoms {
		width: 250px;
	}
}
